# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

compile_commands.json

.idx

*.idx

*.json

.vscode

!build/compile-commands.json

*.make

cpp_test_project.dir/

.cmake/

build/

CMakeFiles/

*.txt
build/CMakeFiles/cpp_test_project.dir/main.cpp.o
build/cpp_test_project
main

bin/
external/
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/cpp_test_project.dir/build.make
build/CMakeFiles/cpp_test_project.dir/cmake_clean.cmake
build/CMakeFiles/cpp_test_project.dir/DependInfo.cmake
build/CMakeFiles/cpp_test_project.dir/link.txt
build/CMakeFiles/cpp_test_project.dir/main.cpp.o
